@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    background: white !important;
  }

  .print\:hidden {
    display: none !important;
  }

  .print\:block {
    display: block !important;
  }

  .print\:shadow-none {
    box-shadow: none !important;
  }

  .print\:p-0 {
    padding: 0 !important;
  }

  .print\:break-inside-avoid {
    break-inside: avoid !important;
  }
}

.app-bg {
  background-image: url('/src/assets/background.jpg');
  background-position: right bottom; 

  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #f8fafc; 
  background-attachment: fixed;
}
